streamlit
streamlit-option-menu
streamlit_navigation_bar
replicate
transformers
tensorflow
python-dotenv
psycopg_binary
psycopg[binaries]
pandas
langchain
langchain_core
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
jira
flask
