streamlit
streamlit-option-menu
replicate
transformers
tensorflow
python-dotenv
psycopg_binary
psycopg[binaries]
pandas
langchain
langchain_core
langchain_openai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
jira
flask
